@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Button Color="Color.Warning" Clicked="ShowWarningNotification">Show alert!</Button>

@code {
    [Inject] INotificationService NotificationService { get; set; }

    Task ShowWarningNotification()
    {
        return NotificationService.Warning("This is a simple notification message!", "Hello");
    }
}